mixin productCard(data)
	- var {name,price,discount,discountedprice,img,moq} = data
	a.product-card(href="produk-detail.html")
		.product-card-img
			if(img)
					img.bg(src=`images/${img}`)
		.product-card-text
			.product-card-price
				small Mulai
				b='Rp'+price
				if(discount)
					span.discounted='Rp'+discountedprice
					span.discount=discount+'%'
			.product-card-name=name
			.product-card-bottom
				.moq
					if(moq)
						span MOQ
						span.qty=moq+'pcs'
				img.svg.icon-arrow(src="images/ic-arrow-circle-blue.svg", alt="ic")


//- Mixin Expan Collapse
mixin accordion(id, ...titles)
	.panel-group.faq-accordion(id=id role='tablist' aria-multiselectable='false')
		each title, n in titles
			.panel.panel-default
				.panel-heading(id=`heading-${n}` role='tab')
					h4.panel-title
						a(role='button' data-toggle='collapse' data-parent=`#${id}` href=`#${id}-${n}` aria-controls=id class=n>0?"collapsed":{})&attributes(n===0?{'aria-expanded':'true'}:{'aria-expanded':'false'})= title
				.panel-collapse.collapse(id=`${id}-${n}` role='tabpanel' aria-labelledby=`heading-${n}` data-parent=`#${id}` class=n===0?"in show":{})
					.panel-body
						p Ya, kami menyediakan layanan purna jual yang komprehensif. Jika Anda mengalami masalah atau memerlukan bantuan setelah pembelian, tim dukungan pelanggan kami siap membantu Anda dengan pertanyaan, perbaikan, atau perawatan yang diperlukan. Kami berusaha untuk memastikan kepuasan pelanggan kami dalam setiap tahap pengalaman.
